#me {
    width: 500px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;
}

.container {
    justify-content: center;
    align-items: center;
}

#logo-edu {
    width: 50%;
    justify-content: center;
    align-items: center;
}
.box1 {
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.box1 p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #495057; 
}
body{
    background-image: url(background.jpg);
    background-size: auto ;
}


#skills {
    padding: 60px 0;
}

.card {
    border: none;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1.1rem;
    color: #6c757d; 
}

#Me {
    background-color: #f8f9fa; 
    padding: 60px 0;
}

#div1 {
    text-align: center; 
}


.box-me{
    margin-top: 30%;
}
#div1 h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40; 
}

#div1 p {
    font-size: 1.1rem;
    color: #6c757d; 
    line-height: 1.6;
}

#div1 h6 {
    font-size: 1.1rem;
    color: #007bff; 
    margin-top: 20px; 
}

#div1 h6 a {
    text-decoration: none;
    color: #007bff; 
    transition: color 0.3s ease;
}

#div1 h6 a:hover {
    color: #0056b3; 
}
